@font-face {
    font-family: "Asap";
    src: url("./fonts/Asap-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Asap-Medium";
    src: url("./fonts/Asap-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Asap-SemiBold";
    src: url("./fonts/Asap-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Asap-Bold";
    src: url("./fonts/Asap-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Cabin-Medium";
    src: url("./fonts/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Cabin-SemiBold";
    src: url("./fonts/Cabin-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Cabin-Bold";
    src: url("./fonts/Cabin-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Catamaran";
    src: url("./fonts/Catamaran-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Catamaran-Medium";
    src: url("./fonts/Catamaran-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Catamaran-SemiBold";
    src: url("./fonts/Catamaran-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Catamaran-Bold";
    src: url("./fonts/Catamaran-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Dosis-Medium";
    src: url("./fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Dosis-SemiBold";
    src: url("./fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Dosis-Bold";
    src: url("./fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'draft';
    src: url("./fonts/Draft B Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Kanit-Medium";
    src: url("./fonts/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Kanit-SemiBold";
    src: url("./fonts/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Kanit-Bold";
    src: url("./fonts/Kanit-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "Lato-Black";
    src: url("./fonts/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "MavenPro";
    src: url("./fonts/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "MavenPro-Medium";
    src: url("./fonts/MavenPro-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "MavenPro-Bold";
    src: url("./fonts/MavenPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Mukta";
    src: url("./fonts/Mukta-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Mukta-Medium";
    src: url("./fonts/Mukta-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Mukta-SemiBold";
    src: url("./fonts/Mukta-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Mukta-Bold";
    src: url("./fonts/Mukta-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Rubik-Medium";
    src: url("./fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("./fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("./fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "GalanoGrotesqueAlt";
    src: url("./fonts/Galano\ Grotesque\ Alt.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBlack";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Black.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Light.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltMedium";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Medium.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltHeavy";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Heavy.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Light.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
}


$body-color: #373a3c;

$container-max-widths: (
  md: 800px,
  lg: 1000px,
  xl: 1200px
);

$modal-transition: transform .6s ease-out;

$modal-content-border-radius: 0.4rem;

$display1-size:               5rem;
$display2-size:               3rem;
$display3-size:               2rem;
$display4-size:               1.3rem;




@import "../node_modules/bootstrap/scss/bootstrap";
@import "../scss/fontawesome.scss";
@import "../scss/regular.scss";
@import "../scss/brands.scss";
@import "../scss/solid.scss";


body, html {
    height: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
}

header{

    .header-wrapper {

        .topNav {.nav-link {padding-top: 0;padding-bottom: 0;font-size: 12px;color: #007b5e;}}

        .navigation {

            .navMenu {

                .nav-item {padding: 0 35px;}
                .nav-link {
                    color: #005a82;
                    font-size: 12px;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 0;
                    line-height: 80px;
                    font-family: "Lato-Black";
                }
                a:hover {color: #fd5001;border-bottom: 2px solid #fd5001;}
                .active {border-bottom: 2px solid #fd5001;}
                .btn-primary {
                    color: #fff;
                    padding: 0 40px;
                    line-height: 50px;
                    font-size: 10px;
                    display: inline-block;
                    border-radius: 25px;
                    border: none;
                    font-weight: 600;
                    text-transform: uppercase;
                    background: #00a9d1;
                }
            }
        }

    }
}

.app-home {

    .main {
        background: url(../images/homepage.svg) top center/cover no-repeat #fff;
        color: #fff;
        font-family: "Poppins";
        padding-top: 66px;
        padding-bottom: 280px;

        .main-wrapper {

            .search-box {

                .form-control {
                    background-color: rgba(3,68,102,.17);
                    padding: 5px 20px 5px 5px;
                    height: 43px;
                    border-radius: 50px;
                    padding-left: 40px;
                    border: none;
                    color: #ffffff;
                }
                .btn {
                    border-radius: 50px;
                    padding-right:20px;
                    padding-left:20px;
                    background-color: rgba(3,68,102,.17);
                    border: none;
                    text-transform: uppercase;
                    font-family: "Lato-Black";
                    font-weight: bold;
                }
                .form-control:focus {
                    color: #fff;
                    background-color: rgba(3,68,102,.17);
                    border: 0;
                    outline: 0;
                    box-shadow: none;
                }
            
                ::placeholder {color: #fff;}
                .input-group-append {margin-left: -8rem;}
            }

            .main-content {

                h1 {
                    font-size: 55px;
                    font-family: "Rubik-Bold";
                    font-weight: bolder;
                }
            
                p {
                    font-size: 18px;
                    font-family: "Poppins";
                }
            }
            ._ngbtn{
                .btn {
                    color: #005a82;
                    padding: 0 40px;
                    line-height: 50px;
                    font-size: 12px;
                    border-radius: 25px;
                    border: none;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }
        }
    }
}

section {
    ._ngsection {
        padding-top: 60px;
        padding-bottom: 30px;
    }
    ._ngtest {


    }

    ._ngorders {
        font-family: "Montserrat";
    
        .card {
            border: none;
        }
    
        .card-body {
            .card-title {font-weight: bold;font-family: "Montserrat-Bold";font-size: 14px;letter-spacing: -0.04em;line-height: 22px;}
            span {
            font-size: 11px;
            font-weight: 600;
    
            .fa-clock {color: #fd5001;}
            }
        }
    }
}

footer {
    background-color: #09223b;
    color: #fff;
    font-family: "Montserrat";

    .footer {
        .border-bottom {border-bottom: 1px solid #0f3a64 !important;}
        .btn {font-weight: 600;padding: 0 35px;border-radius: 50px;line-height: 35px;text-transform: uppercase;}
    }

    ._ngfootnav {
        h6 {color: #8FA1B2;text-transform: uppercase;font-size: 10px;font-weight: 700;letter-spacing: 2px;}
        .nav-link {color: #fff; padding-left: 0;font-size: 10px;}
        a:hover {color: #007b5e;text-decoration: underline;}
    }
}

._ngabout {
    color: #fff;
    background-color: rgba(0,0,0,.75);

    ._ngcontentMission {
        background: url(../images/fruit_stall.jpg);
    }
    ._ngcontentVision {
        background: url(../images/pdx3_mini.jpg)no-repeat;
        background-size: cover;
    }

    h2 {
        color: #ffffff;
        text-align: left;
        font-family: Montserrat;
        font-weight: 700;
        font-style: normal;
    }
    p {color: #9ea3a8;font-size: 12px;}

    .btn {
        color: #fff;
        padding: 0 40px;
        line-height: 50px;
        font-size: 12px;
        border-radius: 25px;
        border: none;
        font-weight: 600;
        background: transparent;
        border: 2px solid #ddd;
        text-transform: uppercase;
    }
}

.modal-dialog {
    max-width: 430px;
}
.modal-content {
    background: rgb(255, 255, 255);
    border: none;
    border-radius: 0;
}