@font-face {
    font-family: "Asap";
    src: url("./fonts/Asap-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Asap-Medium";
    src: url("./fonts/Asap-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Asap-SemiBold";
    src: url("./fonts/Asap-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Asap-Bold";
    src: url("./fonts/Asap-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Cabin-Medium";
    src: url("./fonts/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Cabin-SemiBold";
    src: url("./fonts/Cabin-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Cabin-Bold";
    src: url("./fonts/Cabin-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Catamaran";
    src: url("./fonts/Catamaran-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Catamaran-Medium";
    src: url("./fonts/Catamaran-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Catamaran-SemiBold";
    src: url("./fonts/Catamaran-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Catamaran-Bold";
    src: url("./fonts/Catamaran-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Dosis-Medium";
    src: url("./fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Dosis-SemiBold";
    src: url("./fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Dosis-Bold";
    src: url("./fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'draft';
    src: url("./fonts/Draft B Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Kanit-Medium";
    src: url("./fonts/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Kanit-SemiBold";
    src: url("./fonts/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Kanit-Bold";
    src: url("./fonts/Kanit-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "MavenPro";
    src: url("./fonts/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "MavenPro-Medium";
    src: url("./fonts/MavenPro-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "MavenPro-Bold";
    src: url("./fonts/MavenPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Mukta";
    src: url("./fonts/Mukta-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Mukta-Medium";
    src: url("./fonts/Mukta-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Mukta-SemiBold";
    src: url("./fonts/Mukta-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Mukta-Bold";
    src: url("./fonts/Mukta-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Rubik-Medium";
    src: url("./fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("./fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("./fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "GalanoGrotesqueAlt";
    src: url("./fonts/Galano\ Grotesque\ Alt.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBlack";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Black.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Light.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltMedium";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Medium.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltHeavy";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Heavy.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Light.otf");
}


$body-color: #373a3c;

$container-max-widths: (
  md: 800px,
  lg: 1000px,
  xl: 1200px
);

$modal-transition: transform .6s ease-out;

$modal-content-border-radius: 0.4rem;

$display1-size:               5rem;
$display2-size:               3rem;
$display3-size:               2rem;
$display4-size:               1.3rem;




@import "../node_modules/bootstrap/scss/bootstrap";
@import "../scss/fontawesome.scss";
@import "../scss/regular.scss";
@import "../scss/brands.scss";
@import "../scss/solid.scss";


body, html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "GalanoGrotesqueAlt", Helvetica, sans-serif;
}

header {

    .nav-wrapper{
        background-color: #0D3250;
        border-top: 1px solid #245C89;
        border-bottom: 1px solid #245C89;

        .nav-brand {
            height: 100px;
            width: 330px;
            padding: 10px;
        }

        h2 {
            color: #fff;
            font-size: 14px;
        }

        .nav-link {
            color: #eca93f;
        }
    }

    .navigation {
        background-color: #0D3250;
        border-bottom: 1px solid #245C89;

        .navbar {

            .navbar-toggler {
                cursor: pointer;
                outline: 0;
            }

            .navbar-toggler-icon {
                width: 2rem;
                height: 2rem;
            }

            .nav-item {
                padding: 0.4rem 1rem;
            }

            .nav-link {
                font-size: 12px;
                color: #fff;
                font-family: "Ubuntu";
                text-transform: uppercase;
            }
        }

        @include media-breakpoint-up(xs) {
            .nav-link {
              text-align: center;
            }
        }
    }
}

.hero {
    background-color: #0D3250;
    background-image: url(../images/farepay2.png);
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #fff;

    h1 {
        font-size: 56px;
        font-family: "GalanoGrotesqueAltExtraBold";
    }

    h2{
        font-size: 28px;
        font-family: "GalanoGrotesqueAltLight";
        line-height: 40px;
        font-weight: bold;
    }

    .form-control {
        height: 53px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left:30px;
        background-color: #eafbff;
        border: 0;
        
    }
    .btn {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-right:20px;
        background:#007b5e;
        border-color:#007b5e;
    }
    .form-control:focus {
        color: #495057;
        background-color: #eafbff;
        border: 0;
        outline: 0;
        box-shadow: none;
    }
}


footer {
    background: #0D3250;
    color: #eafbff;
    font-family: 'Trebuchet MS';
    

    h5 {
        text-transform: uppercase;
        font-size: 12px;
    }

    .nav-link {
        font-size: 14px;
        color: #eafbff;
        font-family: "Ubuntu";
    }
}

.footer {
    
}


#couponModal .modal-content{
	overflow:hidden;
}
a.h2{
    color:#007b5e;
    margin-bottom:0;
    text-decoration:none;
}
#couponModal .form-control {
    height: 53px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
	padding-left:30px;
}
#couponModal .btn {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
	padding-right:20px;
	background:#007b5e;
	border-color:#007b5e;
}
#couponModal .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #007b5e;
    outline: 0;
    box-shadow: none;
}
#couponModal .top-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(141deg);
    margin-top: -94px;
    margin-right: 190px;
    margin-left: -130px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}
#couponModal .bottom-strip{
	height: 155px;
    background: #007b5e;
    transform: rotate(112deg);
    margin-top: -110px;
    margin-right: -215px;
    margin-left: 300px;
    border-bottom: 65px solid #4CAF50;
    border-top: 10px solid #4caf50;
}





section {
    font-family: Lato,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #506077;

    .section {
        padding: 100px 0;
        border-top: 1px solid #ebeff2;

        .inn-content h2 {     
            margin: 5px 0 25px;
            width: 290px;
        }

        .tab-container h3 {
            margin: 10px 0 50px;
        }
    }
    img {
        width: 100%;
        height: auto;
    }

    h2 {
        font-size: 30px;
        color: #051c3d;
        font-weight: 400;
    }

    h3 {
        color: #506077;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
        line-height: 27px;
    }
    .btn-default {
        border-radius: 50rem;
        padding: 10px 20px;
        font-size: 18px;
        border: 2px solid #2e3950;
        background: transparent;
        font-family: "Ubuntu";
        font-weight: 500;
    }

    .sp-btn-lg {
        padding: 20px 30px;
        font-size: 11px;
        border-radius: 4px;
    }

    .sp-btn-dark {
        color: #fff;
        background-color: #2e3950;
        border-color: #2e3950;
    }

    .sp-btn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        text-transform: uppercase;
        padding: 11px 12px;
        font-size: 11px;
        border-radius: 4px;
    }
}

