@font-face {
    font-family: "Asap";
    src: url("./fonts/Asap-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Asap-Medium";
    src: url("./fonts/Asap-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Asap-SemiBold";
    src: url("./fonts/Asap-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Asap-Bold";
    src: url("./fonts/Asap-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Cabin";
    src: url("./fonts/Cabin-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Cabin-Medium";
    src: url("./fonts/Cabin-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Cabin-SemiBold";
    src: url("./fonts/Cabin-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Cabin-Bold";
    src: url("./fonts/Cabin-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Catamaran";
    src: url("./fonts/Catamaran-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Catamaran-Medium";
    src: url("./fonts/Catamaran-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Catamaran-SemiBold";
    src: url("./fonts/Catamaran-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Catamaran-Bold";
    src: url("./fonts/Catamaran-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Dosis-Medium";
    src: url("./fonts/Dosis-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Dosis-SemiBold";
    src: url("./fonts/Dosis-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Dosis-Bold";
    src: url("./fonts/Dosis-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'draft';
    src: url("./fonts/Draft B Regular.otf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Kanit";
    src: url("./fonts/Kanit-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Kanit-Medium";
    src: url("./fonts/Kanit-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Kanit-SemiBold";
    src: url("./fonts/Kanit-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Kanit-Bold";
    src: url("./fonts/Kanit-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Lato";
    src: url("./fonts/Lato-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Lato-Bold";
    src: url("./fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "MavenPro";
    src: url("./fonts/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "MavenPro-Medium";
    src: url("./fonts/MavenPro-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "MavenPro-Bold";
    src: url("./fonts/MavenPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Mukta";
    src: url("./fonts/Mukta-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Mukta-Medium";
    src: url("./fonts/Mukta-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Mukta-SemiBold";
    src: url("./fonts/Mukta-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Mukta-Bold";
    src: url("./fonts/Mukta-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url("./fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto-Medium";
    src: url("./fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("./fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Rubik";
    src: url("./fonts/Rubik-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Rubik-Medium";
    src: url("./fonts/Rubik-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Rubik-Bold";
    src: url("./fonts/Rubik-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: url("./fonts/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Ubuntu-Medium";
    src: url("./fonts/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url("./fonts/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "GalanoGrotesqueAlt";
    src: url("./fonts/Galano\ Grotesque\ Alt.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBlack";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Black.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraBold";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Bold.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltExtraLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Extra\ Light.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltMedium";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Medium.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltHeavy";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Heavy.otf");
}
@font-face {
    font-family: "GalanoGrotesqueAltLight";
    src: url("./fonts/Galano\ Grotesque\ Alt\ Light.otf");
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf");
}


$body-color: #373a3c;

$container-max-widths: (
  md: 800px,
  lg: 1000px,
  xl: 1200px
);

$modal-transition: transform .6s ease-out;

$modal-content-border-radius: 0.4rem;

$display1-size:               5rem;
$display2-size:               3rem;
$display3-size:               2rem;
$display4-size:               1.3rem;




@import "../node_modules/bootstrap/scss/bootstrap";
@import "../scss/fontawesome.scss";
@import "../scss/regular.scss";
@import "../scss/brands.scss";
@import "../scss/solid.scss";


body, html {
    height: 100%;
    width: 100%;
}

.topheader {
  background: #F0F0F0;
  width: 100%;
  height: 50px;
  font-size: 15px;

  .fab {color: #ADADAD;margin-top: 5px;font-size: 25px;}

  .nav-link {
    color: #909090;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .btn-primary {
    color: #fff;
  }
}

.topmenu {
  border-top: 1px solid #DBDBDB;

  .topmenu-nav {

    .nav-link {font-size: 16px;font-weight: 300;color: #777;font-family: "Raleway";padding: 15px;}
  }
  .btn-primary {
    font-size: 14px !important;
    font-weight: bold;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #02b3e4;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    letter-spacing: 1.12px;
    color: #333;
    padding: 8px 20px !important;
  }
}

.hero {
    background-color: #0D3250;
    background-image: url(../images/farepay2.png);
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #fff;

    h1 {
        font-size: 56px;
        font-family: "Poppins";
        font-weight: bold;
    }

    h2{
        font-size: 28px;
        font-family: "GalanoGrotesqueAltLight";
        line-height: 40px;
        font-weight: bold;
    }

    .form-control {
        height: 53px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding-left:30px;
        background-color: #eafbff;
        border: 0;
        
    }
    .btn {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-right:20px;
        background:#007b5e;
        border-color:#007b5e;
    }
    .form-control:focus {
        color: #495057;
        background-color: #eafbff;
        border: 0;
        outline: 0;
        box-shadow: none;
    }

}


footer {
    background: #0D3250;
    color: #ddd;
    font-family: 'Trebuchet MS';

    .copyrights {

        a {font-size: 12px;color: #ddd}
        p {font-size: 12px;}
        a:hover {color: #007b5e;}
    }
}



.content-wrapper {

    section {
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Poppins";
    }

    .shop-preview {
        padding-top: 100px;

        .shop-content-preview {
            .lead {font-size: 30px;color: #051c3d;font-weight: 600;}
            .btn-primary {
                font-size: 14px;
                font-family: "Poppins";
                font-weight: bold;
                text-transform: uppercase;
                background: transparent;
                border: 2px solid #02b3e4;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                letter-spacing: 1.12px;
                color: #333;
                padding: 12px 25px;
            }

            @include media-breakpoint-down(sm) {
                .lead,p {
                  text-align: center;
                }
            }
            @include media-breakpoint-down(sm) {
                p {
                  text-align: center !important;
                }
            }
        }
    } /* shop preview end */

    .work-preview {
        padding-top: 0px;
        .title {font-size: 36px;font-family: "Lato";font-weight: lighter;border-bottom: 1px solid #E0E0E0;}
    }

    .travel-content-preview {
        .lead {font-size: 30px;color: #051c3d;font-weight: 600;}
        .btn-primary {
            font-size: 14px;
            font-family: "Poppins";
            font-weight: bold;
            text-transform: uppercase;
            background: transparent;
            border: 2px solid #02b3e4;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            letter-spacing: 1.12px;
            color: #333;
            padding: 12px 25px;
          }
    }

    .toggle-content-wrapper {

        .toggle-tab-wrapper {
            background: #F0F0F0;
  
          .navbar-toggle-tabs .nav-link {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            padding: 40px 0;
            color: #506077;
            border-radius: 0;
            border: 0;
            font-size: 11px;
          }
        .navbar-toggle-tabs .nav-link.active {
            background: #fff;
            color: #17d3b9;
            border-top: 2px solid #17d3b9;
            border-color: #fff;
            border-top-color: #17d3b9;
          }
        }
  
        .tab-content {
          padding: 120px 0;
        }
  
        h2 {font-size: 26px;color: #051c3d;}
  
        img {width: 100%;height: auto;}
    }

} /* general content wrapper end */

.testimonial {
    background: #dddddd;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: "Lato" !important;
    color: #000000;

    .testimonial-title {
      font-size: 40px;
      border-bottom: 1px solid #E0E0E0;
    }

    .testimonial-lead {font-size: 18px;}

    .carousel-inner {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      min-height: 300px;

      .comment {font-size: 12px;font-family: "Poppins";color: #000000;}
      .lead {font-size: 20px;font-family: "Lato";font-weight: 900;}
      p {font-family: "Poppins";font-weight: 700;color: #5faf00;}
    }

    .carousel-indicators li {background: #dddddd;}
    .carousel-indicators .active {background:  #5faf00;}

    
}

.active-orders {
    font-family: "Montserrat";

    .card {
        border: none;
    }

    .card-title {font-weight: bold;font-family: "Montserrat-Bold";font-size: 16px;letter-spacing: -0.04em;line-height: 22px;}
}