$body-color: #373a3c;

$container-max-widths: (
  xl: 1250px
);


@import "../node_modules/bootstrap/scss/bootstrap";
@import "../scss/fontawesome.scss";
@import "../scss/regular.scss";
@import "../scss/brands.scss";
@import "../scss/solid.scss";


body, html {
    height: 100%;
    width: 100%;
}

.section {
        color: #fff;
        font-size: 18px;
        background: -webkit-linear-gradient(-45deg,#6e1a52,#ec5252);

        h1 {
            font-family: 'Trebuchet MS';
            margin-top: 1.5rem;
            margin-bottom: 0.2rem;
        }

        p {
            font-size: 10px;
            font-family: "Open Sans";
            color: antiquewhite;
        }
}